<h1> Hello  <%= @user.name %></h1> 

<h3> Your age is: <%= @user.age %>   </h3> 
<h3> Your current location is: <%= @user.location %> </h3> 


<h3> Your current events are: </h3>

<% @user.events.each do |event| %>
    <li> <%= event.name %>  </li> 
    <li> <%= event.location %> </li> 
    <li> <%= event.time %>  </li> 
<% end %>