<p id="notice"><%= notice %></p>
<h1>All Current Events</h1>
<br>

<% @events.each do |event| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%=event.name%></h5>
      <p class="card-text"><%=event.location%></p>
      <p class="card-text"><%=event.time%></p>
      <a href="/events/<%=event.id%>" class="btn btn-primary">Details</a>
    </div>
  </div>
  <br>
<% end %>

<br>

<%= link_to 'New Event', new_event_path %>
<br>
<%= link_to "Sign out", destroy_user_session_path, method: :delete  %>
<br>
<%= link_to "Back", root_path %>



