<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>
<br>
<p>
<strong> People Attending: </strong> 
</p>

<% current_event = @event.users %>

<%current_event.each do |user|  %>
  <%= user.name %>
  <br>
<% end %>

<br>

<h3> Event Description: </h3>
<% @event.activities.each do |activity|  %>
  <%= activity.name %>
  <br>
<% end %>
<br>

<% if @event.users.include?(current_user) %>
  <%= button_to 'leave', leave_path %>
<% else %>
  <%= button_to 'join', join_path %>
<% end %>


<br>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', events_path %>

